{% extends "layout.html" %}

{% block nav %}
<li><a href="index.html">Home</a></li>

<li><a href="/FertilizerRecommendation" class="active">Fertilizer</a></li>
<li><a href="/PesticideRecommendation" class="active">pesticide</a></li>
    <li><a href="/devices" >My Devices</a></li>
     <li><a href="{{ url_for("logout") }}" >Logout</a></li>

{% endblock %}

{% block body %}
<br><br>
<h2 style="text-align: center;" class="text-2xl font-bold text-blue-400">
  <b>Get informed advice on fertilizer based on your soil NPK values</b>
</h2>
<br >

    <div class="flex justify-center items-center py-4">
    <div class="bg-gray-100 p-6 rounded-md shadow-md mb-8 max-w-l ">
  <h1 class="text-2xl font-bold mb-4">Add a New Device</h1>
  <form action="{{ url_for('create_device') }}" method="post">

            <input
              class="shadow appearance-none border rounded w-120 h-19 my-4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="name"
              type="text"
              placeholder="Enter Device Name"
              name="name"
            />

    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md mb-4">
      Create Device
    </button>
  </form>
  {% if device_id %}
    <div class="bg-gray-200 p-4 rounded-md">
    <div class="text-blue-400 hidden" id="notification"></div>
      <h2 class="text-lg font-bold mb-2">Device ID:</h2>
      <pre class="language-python"><code>#define DEVICE_ID "{{ device_id }}"
      //Copy this code to your device sketch. </code></pre>
        <p class="mb-8">
            [Click to copy]
        </p>
    <p class="text-green-600"><strong>Alternatively, add this device ID to your device interface: {{ device_id }}</strong></p>
    </div>
  {% endif %}
</div>
    </div>


<div
  style="
    width: 350px;
    height: 40rem;
    margin: 0px auto;
    color: black;
    border-radius: 25px;
    padding: 10px 10px;
  "
>
  <form method="POST" action="{{url_for('fertilizer_recommend')}}">
    <div class="form-group">
      <label for="Nitrogen" style="font-size: 17px"><b>Nitrogen (ratio)</b></label>
      <input
        type="number"
        class="form-control"
        id="Nitrogen"
        name="nitrogen"
        max="100"
        min="0"
        placeholder="Enter the value (example:0.5)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="Phosphorous" style="font-size: 17px"
        ><b>Phosphorous (ratio)</b></label
      >
      <input
        type="number"
        class="form-control"
        id="Phosphorous"
        name="phosphorous"
        max="100"
        min="0"
        placeholder="Enter the value (example:0.05)"
        style="font-weight: bold"
        required
      />
    </div>

    <div class="form-group">
      <label for="Potassium" style="font-size: 17px"><b>Potassium (ratio)</b></label>
      <input
        type="number"
        class="form-control"
        id="Potassium"
        name="potassium"
        max="100"
        min="0"
        placeholder="Enter the value (example:0.5)"
        style="font-weight: bold"
        required
      />
    </div>

    <div class="form-group">
      <label for="crop" style="font-size: 17px"
        ><b>Crop you want to grow</b></label>
      <select
        name="cropname"
        class="form-control"
        id="crop"
        placeholder="Select a crop"
        style="font-weight: bold"
        required
      >
        <option selected>apple</option>
        <option>banana</option>
        <option>blackgram</option>
        <option>chickpea</option>
        <option>coconut</option>
        <option>coffee</option>
        <option>cotton</option>
        <option>grapes</option>
        <option>groundnut</option>
        <option>jute</option>
        <option>kidneybeans</option>
        <option>lentil</option>
        <option>maize</option>
        <option>mango</option>
        <option>mothbeans</option>
        <option>mungbean</option>
        <option>muskmelon</option>
        <option>mustard</option>
        <option>orange</option>
        <option>paddy</option>
        <option>papaya</option>
        <option>pearlmillet</option>
        <option>pigeonpea</option>
        <option>pomegranate</option>
        <option>rapeseed</option>
        <option>rice</option>
        <option>sorghum</option>
        <option>sugarcane</option>
        <option>watermelon</option>
        <option>wheat</option>
      </select>
    </div>


    <div class="d-flex justify-content-center">
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      <button type="submit"
        style="color: #c79c60; font-weight: bold;
         background-color: black;
         width: 130px; height:50px; border-radius:12px; font-size: 21px;">
        Predict
      </button>
    </div>
  </form>
</div>

    <!-- JavaScript code for copying code -->
<!-- JavaScript code for copying code with notification -->
<script>
document.addEventListener('DOMContentLoaded', function() {
  var codeElements = document.getElementsByTagName('code');
  for (var i = 0; i < codeElements.length; i++) {
    codeElements[i].addEventListener('click', function() {
      var range = document.createRange();
      range.selectNode(this);
      window.getSelection().addRange(range);
      document.execCommand('copy');
      window.getSelection().removeAllRanges();
      showNotification('Code copied!');
    });
  }

  function showNotification(message) {
    var notification = document.createElement('div');
    notification.className = 'notification';
    notification.textContent = message;
    const notification_div=document.getElementById("notification")
        notification_div.appendChild(notification);
    notification_div.classList.remove("hidden")
    setTimeout(function() {
      notification_div.removeChild(notification);
    }, 2000);
  }
});
</script>


{% endblock %}
